<div class='card' style='width: 40%;'>
  <%= image_tag 'img_avatar.png', alt: 'User Profile Image', class: 'card-img-top', style: 'height: 220px;' %>
  <div class='card-body'>
    <h5 class='card-title'>
      <%= "#{user.first_name} #{user.last_name}" %>
    </h5>
    <p class='card-text'>
      <%= user.email %>
    </p>
    <% if current_user.following?(user) %>
      <a href='#' class='btn btn-primary'>Unfollow</a>
    <% else %>
      <a href='#' class='btn btn-primary'>Follow</a>
    <% end %>
  </div>
</div>
<hr/>
