<div class='card post-card d-flex'>
  <div class='card-body'>
    <h5 class='card-title'><%= post.title %> </h5>
    <p class='card-text'>
      <div class='post-published_at'>
        <%= format_date(post.published_at || post.created_at) %>
      </div>
    </p>

    <% if current_page?(my_posts_path) %>
      <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-outline-success card-link' %>
    <% else %>
      <%= link_to 'Open', post_path(post), class: 'btn btn-outline-secondary card-link' %>
    <% end %>
  </div>
</div>
