.my-network-connections {
  margin: 0;
  overflow: hidden;
  height: 100%;

  @media (min-width: 500px){
    #left {
      position: absolute;
      top: 120px;
      bottom: 200px;
      left: 100px;
      width: 50%;
      overflow-y: scroll; 
    }
    
    #right {
      position: absolute;
      top: 120px;
      bottom: 200px;
      right: 100px;
      overflow-y: scroll;
      width: 50%;
    }
  }
  
  #left {
    text-align: center;
    height: 100%;
    background-color: lightgray;
  }
  
  #right {
    height: 100%;
    text-align: center;
    background-color: darkgray;
  }
}
