<main class='footer'>
  <div class='bg-dark text-white'>
    <p class='text-center p-4 m-0'>
      Programming Posts
      | <%= Time.now.in_time_zone('Asia/Tashkent').strftime('%Y') %>
    </p>
  </div>
</main>