<nav class='navbar fixed-top navbar-expand-lg navbar-dark bg-dark mb-3'>
  <div class='container-fluid'>
    <p class='navbar-brand' style='margin: 5px;'>Programming Posts</p>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNav'>
      <ul class='navbar-nav ms-md-auto gap-2'>
        <li class='nav-item rounded'>
          <%= link_to posts_path, class: 'nav-link active' do %>
            <i class='bi bi-book-fill me-2'></i>
            Posts
          <% end %>
        </li>
        <li class='nav-item rounded'>
          <a class='nav-link' href='#'><i class='bi bi-people-fill me-2'></i>Network</a>
        </li>
        <li class='nav-item dropdown rounded'>
          <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-bs-toggle='dropdown' aria-expanded='false'><i class='bi bi-person-fill me-2'></i>Profile</a>
          <ul class='dropdown-menu dropdown-menu-end' aria-labelledby='navbarDropdown'>
            <li><a class='dropdown-item' href='#'>Account</a></li>
            <li><a class='dropdown-item' href='#'>Another action</a></li>
            <li>
              <hr class='dropdown-divider'>
            </li>
            <li><a class='dropdown-item' href='#'>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
