<ul class='nav'>
  <li class='nav-item'>
    <%= link_to 'Posts', posts_path, class: 'nav-link active' %>
  </li>
  <li class='nav-item'>
    <%= link_to 'New Post', new_post_path, class: 'nav-link' %>
  </li>
</ul>
